.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    gap: 48px;
}

.introvertBackground {
    background: rgb(27,115,50);
    background: radial-gradient(circle, rgba(27,115,50,1) 0%, rgba(37,42,161,1) 50%, rgba(27,115,50,1) 77%);}

.extrovertBackground {
    background: rgb(200,198,62);
    background: radial-gradient(circle, rgba(200,198,62,1) 0%, rgba(152,58,139,1) 50%, rgba(162,107,48,1) 77%);
}

.preFadeIn {
    opacity: 0;
}

.fade-in {
    transition: opacity 0.5s ease;
}

.endButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.endButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: solid 4px var(--white);
    padding: 24px 32px;
    color: var(--white);
    text-decoration: none;
    border-radius: 24px;
    transition-duration: 0.2s;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
}

.endButton:hover {
    box-shadow: 0px 0px 16px 8px var(--white-glow);
    transition-duration: 0.2s;
}
