.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    gap: 48px;
    background-image: url('../../../assets/home-backgroung.jpg');
    background-size: cover;
}

.playButton {
    color: black;
}

.playButton:hover {
    color: red;
    transition-duration: 0.5s;
}

