.slide {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.slideHeader {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
}

.answersContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nextButton {
    margin-left: auto;
}

.submitButton {
    border-color: var(--success-green);
    color: var(--success-green);
    font-weight: bold;
}
.submitButton:hover {
    box-shadow: 0px 0px 16px 8px var(--green-glow);
}

.submitButton:disabled {
    opacity: 50%;
}

.selectedAnswer {
    box-shadow: 0px 0px 16px 8px var(--white-glow);
    background-color: var(--white-selected-glow);
}